# The ID of your GitHub App
APP_ID=
WEBHOOK_SECRET=development

# Use `trace` to get verbose logging or `info` to show less
LOG_LEVEL=debug

# Go to https://smee.io/new set this to the URL that you are redirected to.
WEBHOOK_PROXY_URL=

# comma separated relationships in `[parent repo] > [subtree path]:[child repo]` format
#
# e.g. "fusionjs/parent > child/dir/path:fusionjs/child"
#   indicates that "fusionjs/child" is a child of "fusionjs/parent" and exists in the
#   "child/dir/path" directory
REPO_RELATIONSHIPS=
