###
# REQUIRED VARS
###

# account with read/write access to all repos
GH_TOKEN=

# GitHub App
APP_ID=
PRIVATE_KEY=
WEBHOOK_SECRET=

# name of the parent repo
# e.g. org/repo
USYNC_PARENT_REPO=

###
# DEVELOPMENT VARS
###

# GitHub App
# https://smee.io/new
WEBHOOK_PROXY_URL=

# Use `trace` to get verbose logging or `info` to show less
LOG_LEVEL=debug

